body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
}

.layout {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem;
}
